models/xsd/src/main/schema/utility/notification.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:n="http://exchange.support/utility/notification"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://exchange.support/utility/notification"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

  <xsd:complexType name="NotificationType">
    <xsd:annotation>
      <xsd:documentation>Общий тип сообщения о доставке.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Event" type="n:NotificationEventType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="NotificationEventType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="доставлено"/>
      <xsd:enumeration value="обработано"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
